@import url(https://db.onlinewebfonts.com/c/c2faa8b07234db85ffbccc6e6e1424d2?family=OnyFuture+Normal);
@import url("https://fonts.cdnfonts.com/css/futura-std-4");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7fa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "OnyFuture Normal", sans-serif;
  margin: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.futura_font {
  font-family: "Futura Std", sans-serif;
}

.serif_font {
  font-family: "Source Serif 4", serif;
}

body:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
